images/
annotations/
results/
external/
.DS_Store

MatlabAPI/analyze*/
MatlabAPI/visualize*/
MatlabAPI/private/maskApiMex.*

PythonAPI/ytvostools/__init__.pyc
PythonAPI/ytvostools/_mask.c
PythonAPI/ytvostools/_mask.so
PythonAPI/ytvostools/coco.pyc
PythonAPI/ytvostools/cocoeval.pyc
PythonAPI/ytvostools/mask.pyc
